a { color : #ffffff; }
.nav
{	
	background-color: black;  
	color: white;   
	font-size: 18px;	
	padding: 15px;
	margin:0 auto;
	position: sticky;	
	top: 0;
}
	
.menu
{
	color:#787878;
	position:absolute;
	right:15px;
}	