.tableicons
{		
  	color: #111111;
  	height: 60rem;  	
  	display: block;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	margin: 100px;

}

.content
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px;
}

.tableElement
{
	width: 250px;
	padding: 20px;
	background-color: white;
	margin: 20px;
	a{ color: red; }
}

.fa {
  padding: 20px;
  font-size: 70px;
}


h2
{
	font-size: 2.25rem;
	font-weight: lighter;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
}
h3
{
	font-weight: lighter;
	font-size: 1.25rem;
}