* {
	font-family: Tahoma, Arial;
	color:#444444;
	box-sizing: border-box;

}

a
{
	text-decoration: none;   
}

h1, h2, h3, h4, h5, h6 {
    color: #555555;
}

body 
{
	/*background-image: url("https://templated.co/items/demos/industrious/images/bg.jpg");	*/
	background-color: #f2eee4;
	margin: 0; padding: 0;	
}

.nav
{	
	background-color: black;  
	color: white;   
	font-size: 18px;	
	padding: 15px;
	margin:0 auto;
	position: sticky;	
	top: 0;
}


.row
{
	text-align: center;
	padding: 100px;
}

.foot
{
	background-color: black;
}

.tableLike
{
	background-color: white;
	padding: 30px;
	margin: 20px;
	flex: 30%;	
	width: 30%;
	float:left;
}

.menu
{
	color:#787878;
	position:absolute;
	right:15px;
}